.aboutme {
  background-color: rgba(246, 246, 246, 1);
  padding: 120px 0 107px;
}

.aboutme__text {
  overflow: hidden;
  width: 485px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 43px;
}

@media (max-width: 540px) {
  .aboutme__text {
    width: 316px;
  }
  .aboutme {
    padding: 81px 0 76px;
  }
}
