@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-Bold.woff2) format("woff2"),
    url("../font/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.woff2") format("woff2"),
    url("../font/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
