header {
  padding: 33px 0 41px;
}

.home__nav {
  color: rgba(130, 130, 130, 1);
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid rgba(130, 130, 130, 1);
}

.nav__link {
  padding-bottom: 41px;
}

.home {
  padding-bottom: 104px;
}

.home__titlebox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.home__title {
  height: 123px;
  width: 118px;
}

.home__text {
  width: 155px;
  display: flex;
  align-items: flex-end;
  text-align: left;
}

@media (max-width: 850px) {
  .home__nav {
    display: none;
  }

  .home__titlebox {
    flex-direction: column;
    gap: 23px;
    /* margin-left: 26px; */
  }

  .home {
    padding-bottom: 65px;
  }

  header {
    border: none;
  }
}
