.portfolio {
  background-color: rgba(246, 246, 246, 1);
  padding: 112px 0 96px;
}

.portfolio__box {
  display: flex;
  flex-direction: column;
  gap: 98px;
  margin: auto;
  text-align: center;
}

.portfolio__out {
  color: black;
  text-decoration: underline;
  margin-top: 43px;
}

.portfolio__out:hover {
  color: rgba(130, 130, 130, 1);
}
